@import url(http://fonts.googleapis.com/css?family=Oswald:400,700);

body{
  width:100%;
  margin: 0;
  padding: 0;
}
header{
  height:16%;
  background-color:#282827;
}
section{
  height:70%;
}
footer{
  height:10%;
  background-color:#282827;
}
.topbar{
  padding-top:1em;
  height:5em;
  text-align:center;
  font-family:serif;
}
.topbar h2{
  color:#DCD8CF;
}
.topbar p{
  color:#E25D33;
}
#message{
  height:20%;
  background-color:#DCD8CF;
}
#history{
  height:50%;
  background-color:#444;
}
